[build]
  functions = "netlify/functions"
  publish = "dist"  # This is where your built Vue app will go

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/api/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200