@tailwind base;
@tailwind components;
@tailwind utilities;

.project-text {
  @apply absolute p-8 left-0 bottom-0 text-white text-xl font-semibold w-full;
}
p {
  @apply mb-4;
}

.background-overlay, .open-overlay {
  transition: all 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}
.project-container:hover {
  .background-overlay {
    opacity: 1;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.08049340341605393) 26%,
      rgba(0, 0, 0, 0.8003813585981268) 69%,
      rgba(0, 0, 0, 0.9460396219034489) 88%
    );
  }
  .open-overlay {
    opacity: 1;
  }
}